.Home h1{
    color:rgb(237, 234, 158);
    font-weight: bold;
    font-size: 70px;
}

.Home h3{
    color:rgb(237, 234, 158);
    font-weight: bold;
    font-size: 20px;
}

.Home
{
    border: 3px solid #00246B;
    width: 80%;
    position: relative;
    top: 10em;
    left: 10%;
    height: 500px;
    text-align: center;
    border-radius:10px ;
    padding: 10px;
}